<div class="container">
  <div class="row">
    <h2>会員の方はこちらからログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field">
        <table>
         <tr>
           <th><%= f.label :メールアドレス %></th>
           <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
         </tr>

         <tr>
           <th><%= f.label :パスワード %></th>
           <td><%= f.password_field :password, autocomplete: "current-password" %></td>
         </tr>

         <tr>
            <% if devise_mapping.rememberable? %>
              <th><%= f.check_box :remember_me %><%= f.label :remember_me %></th>
            <% end %>
         </tr>
        </table>
      </div>

      <div class="col-xs-offset-4 col-xs-8">
       <%= link_to "=>パスワードを忘れた方はこちら", new_user_password_path %>
      </div>

      <div class="actions">
        <button class="btn btn-primary btn-lg" type="submit">ログイン</button>
      </div>
    <% end %>

    <h2>会員登録がお済でない方</h2>
    <%= link_to "こちら", new_user_registration_path %>から新規登録を行って下さい
  </div>
</div>