<div class="container">
  <div class="row">
  	 <div class="col-md-3">
  	     <h2>新規投稿</h2>
         <%= link_to "新しい投稿はこちらから＝＞", new_post_path %>
     </div>

     <div class="col-md-4">
	     <h2>投稿一覧<h2>
	 </div>

	 <% @posts.each do |post| %>
	      <div class="col-md-9 col-md-offset-3">
	          <table>
	          	  <tr>
		              <th><%= attachment_image_tag post, :image,size: '200x200', fallback: "no_image.jpg"  %></th><br>
		              <td>タイトル<%= post.title %><br>
		                  サブタイトル<%= post.subtitle %><br>
		                  都道府県<%= post.region %><br>
		                  市区町村・エリア<%= post.area %><br>
		                  <% if post.favorited_by?(current_user) %>
							  <%= link_to post_favorites_path(post.id), method: :delete do %>
							  <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
							  <%= post.favorites.count %>いいね<br>
							  <% end %>
						  <% else %>
							  <%= link_to post_favorites_path(post.id), method: :post do %><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
							  <%= post.favorites.count %>いいね<br>
							  <% end %>
						  <% end %>
		                  コメント数：<%= post.post_comments.count %><br>
		                  <%= link_to "詳しくはこちら＝＞", post_path(post.id) %>
		              </td>
		          </tr>
	          </table>
	      </div>
	 <% end %>
  </div>
</div>